<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Home Page | Podcast Search DD2477 </title>
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
  <a href="/search">
    <img id="background-image" src="../static/img/home.png" alt="Background Image">
  </a>
  <script src="../static/js/home.js"></script>
</body>
</html>